*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.6%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow: hidden;
}

section{
    padding: 2rem 9%;

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;

}
.btn:hover{
    background: orangered;
}

header{
    position: fixed;
    top: 0%; left: 0%; right: 0%;
    background: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem ;

}
header .logo{
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}
header .logo span{
    color: rgb(207, 97, 24);
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: rgba(0, 0, 0, 0.57);
}
header .navbar a:hover{
color: orangered;
}


header .icons a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: rgba(0, 0, 0, 0.57);
}
header .icons a:hover{
    color: orangered;
}
header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .3rem solid rgba(0,0,0,.2);
    display: none;
    
}

.Home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("pexels-nicholas-dias-1119542-2116475.jpg") no-repeat; 
    background-size: cover;
    background-position: center;
}
.Home .content{
    max-width: 50rem;
}
.Home .content h3{
    font-size: 5.7rem;
    color:#2b1e1e;
}
.Home .content span{
 font-size: 2.6rem;
 color: rgb(234, 142, 157);
 padding: 1rem 0%;
 line-height: 1.5rem;
}
.Home .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0%;
    line-height: 1.5rem;

}

@media (max-width:991px){

    html{
        font-size: 55%;
    
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
    .Home{
        background-position: left;
    }

}

@media (max-width:768px){
     
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: 1rem solid rgba(0, 0, 0, .1 );
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }

     header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }

     header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background-color:#fff;
        border: .1rem solid rgba(0, 0, 0, .1 );
        display: block;
        
     }
}

@media (max-width:991px){

    html{
        font-size: 50%;
    
    }
}






     
